NEXTAUTH_SECRET=
NEXTAUTH_URL=
AUTH_SECRET=

SQL_HOST=
SQL_PORT=1433
SQL_DB=MuOnline
SQL_USER=
SQL_PASS=

CRON_API_KEY=

# PIX (PagHiper)
PIX_API_KEY=
PIX_TOKEN=
PIX_SITE_URL=
PIX_CONVERSION_RATE=2
PIX_CREDIT_CONFIG_ID=1

# MercadoPago
MP_ACCESS_TOKEN=
MP_RETURN_URL=
MP_WEBHOOK_URL=
MP_CREDIT_CONFIG_ID=1

# PayPal
PAYPAL_EMAIL=
PAYPAL_SANDBOX=false
PAYPAL_CONVERSION_RATE=2
PAYPAL_CREDIT_CONFIG_ID=1
